*{
	margin:0;
	padding:0;
	font-family: century gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../banner.jpg);
    position: relative;
	height:625px;
	background-size:cover;
	background-position:center;
}
   